<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="font-size:4em">
<!-- shit starts here --->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1892929207634161";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function () {

FB.init({
    appId      : '1892929207634161',
    xfbml      : true,
    version    : 'v2.9'
});

FB.Event.subscribe('edge.create', function (response) {
    var x = document.getElementById('xxx');
    x.style.display = 'block';
});
FB.Event.subscribe('edge.remove', function (response) {
    var x = document.getElementById('xxx');
    x.style.display = 'none';
});


}

</script>

<!--<h1>Click like to unlock the profile</h1>


<form id="xxx" method="POST" style="display:none">
    <input type="text" name="text">
    <input type="submit" value="Submit">
</form>-->



<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well">
				<h2>
					Click the LIKE button below to unlock your profile section.
				</h2>
				<p>
					<div class="fb-like" data-href="https://www.facebook.com/blindchat.go/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
				</p>
			</div>
			<form id="xxx" role="form">
				<div class="form-group">
					<label>
						Bio
					</label>
					<input type="text" id="bio" class="form-control" style="height:100px;font-size:50pt" placeholder="Write your bio here (max 80 letters)"/>
				</div>
				<div class="form-group">
					<label>
						Interests
					</label>
					<input type="text" id="interests" class="form-control" style="height:100px;font-size:50pt" placeholder="Enter upto 3 interests separated by commas"/>
				</div>
                <p>Click Save below to save your profile</p>
				<button type="submit" class="btn btn-default" style="height:100px;width:500px;font-size:50pt">
					Save
				</button>
			</form>
		</div>
	</div>
</div>


</body>
</html>